<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>GondolinBnB</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static 'base.css' %}' />
  </head>

  <body>
    <div class="container">
      <div class="row noSpaceRow">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">GondolinBnB</a>
            </div>
            <ul class="nav navbar-nav navbar-left">
              <li><a href="{% url 'index' %}">Character List</a></li>
              <li><a href="#">Campaigns</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </div>
      </div>

    {% block content %}
    {% endblock %}

      <div class="row">
        <div class="footer">
          <p><small>Client Communities @ 2016 | GondolinBnB</small></p>
        </div>
      </div>
    </div>
  </body>

</html>
