{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{% url 'edit' id=character.id %}">
  {% csrf_token %}
  {% load static %}
  <div class='row char_overview vertical-align' style="background: url('{% static 'paper-background-9.jpg' %}')">
    <div class='col-xs-3 char_header_card text-center'>
      <h1>Edit</h1>
    </div>
    <div class='col-md-5 col-xs-3'>
    </div>
    <div class='col-md-4 col-xs-6 char_header_card'>
      {{ character_form.as_p }}
    </div>
  </div>

  <div class='row char_sheet' style="background: url('{% static 'paper-background-9.jpg' %}')">
    <div class='col-md-4 col-xs-6 pre-scrollable'>
      <div class='card'>
        {{ stats_form.as_p }}
      </div>
    </div>

    <div class='col-md-4 col-xs-6 pre-scrollable'>
      <div class='card'>
        {{ misc_form.as_p }}
      </div>
    </div>

    <div class='col-md-4 col-xs-6 pre-scrollable'>
      <div class='card'>
        <h3>Skills</h3>
          {{ skills_formset.management_form }}
            {% for form in skills_formset.forms %}
              <div class='skills_table'>
                <table class='no_error'>
                  {{ form.as_table }}
                </table>
              </div>
              <br/>
            {% endfor %}
          <input type="button" value="Add More" id="add_more_skills">
        <script>
          $('#add_more_skills').click(function() {
            cloneMore('div.skills_table:last', 'skills');
            });
        </script>
      </div>
    </div>

    <div class='col-md-4 col-xs-6 pre-scrollable'>
      <div class='card'>
        {{ saves_form.as_p }}
      </div>
    </div>

    <div class='col-md-4 col-xs-6 pre-scrollable'>
      <div class='card'>
        {{ maneuvers_form.as_p }}
      </div>
    </div>

    <div class='col-md-4 col-xs-6 pre-scrollable'>
      <div class='card'>
        <h3>Attacks</h3>
          {{ attacks_formset.management_form }}
            {% for form in attacks_formset.forms %}
              <div class='attacks_table'>
                <table class='no_error'>
                  {{ form.as_table }}
                </table>
              </div>
              <br/>
            {% endfor %}
          <input type="button" value="Add More" id="add_more_attacks">
        <script>
          $('#add_more_attacks').click(function() {
            cloneMore('div.attacks_table:last', 'attacks');
            });
        </script>
      </div>
    </div>

    <div class='col-md-4 col-xs-6 pre-scrollable'>
      <div class='card'>
        <h3>Armor</h3>
          {{ armor_formset.management_form }}
            {% for form in armor_formset.forms %}
              <div class='armor_table'>
                <table class='no_error'>
                  {{ form.as_table }}
                </table>
              </div>
              <br/>
            {% endfor %}
          <input type="button" value="Add More" id="add_more_armor">
        <script>
          $('#add_more_armor').click(function() {
            cloneMore('div.armor_table:last', 'armor');
            });
        </script>
      </div>
    </div>

    <div class='col-md-4 col-xs-6 pre-scrollable'>
      <div class='card'>
        <h3>Spells</h3>
          {{ spells_formset.management_form }}
            {% for form in spells_formset.forms %}
              <div class='spells_table'>
                <table class='no_error'>
                  {{ form.as_table }}
                </table>
              </div>
              <br/>
            {% endfor %}
          <input type="button" value="Add More" id="add_more_spells">
        <script>
          $('#add_more_spells').click(function() {
            cloneMore('div.spells_table:last', 'spells');
            });
        </script>
      </div>
    </div>

    <div class='col-md-4 col-xs-6 pre-scrollable'>
      <div class='card'>
        {{ money_form.as_p }}
      </div>
    </div>

    <div class='col-md-4 col-xs-6 pre-scrollable'>
      <div class='card'>
        <h3>Gear</h3>
          {{ gear_formset.management_form }}
            {% for form in gear_formset.forms %}
              <div class='gear_table'>
                <table class='no_error'>
                  {{ form.as_table }}
                </table>
              </div>
              <br/>
            {% endfor %}
          <input type="button" value="Add More" id="add_more_gear">
        <script>
          $('#add_more_gear').click(function() {
            cloneMore('div.gear_table:last', 'gear');
            });
        </script>
      </div>
    </div>

    <div class='col-md-4 col-xs-6 pre-scrollable'>
      <div class='card'>
        <h3>Feats</h3>
          {{ feats_formset.management_form }}
            {% for form in feats_formset.forms %}
              <div class='feats_table'>
                <table class='no_error'>
                  {{ form.as_table }}
                </table>
              </div>
              <br/>
            {% endfor %}
          <input type="button" value="Add More" id="add_more_feats">
        <script>
          $('#add_more_feats').click(function() {
            cloneMore('div.feats_table:last', 'feats');
            });
        </script>
      </div>
    </div>

    <div class='col-md-4 col-xs-6 pre-scrollable'>
      <div class='card'>
        <h3>Links</h3>
          {{ links_formset.management_form }}
            {% for form in links_formset.forms %}
              <div class='links_table'>
                <table class='no_error'>
                  {{ form.as_table }}
                </table>
              </div>
              <br/>
            {% endfor %}
          <input type="button" value="Add More" id="add_more_links">
        <script>
          $('#add_more_links').click(function() {
            cloneMore('div.links_table:last', 'links');
            });
        </script>
      </div>
    </div>
  </div>

  <div class='row save_button_row' style="background: url('{% static 'paper-background-9.jpg' %}')">
    <div class='col-xs-4 col-centered'>
      <input type="submit" name="submit" value="Save" class='btn center-block btn-success'/>
    </div>
  </div>
</form>

{% endblock %}
