{% extends 'base.html' %}

{% block content %}

<h1>edit</h1>

<form method="POST" action="{% url 'edit' id=character.id %}">
  {% csrf_token %}
  {{ character_form.as_p }}
  {{ stats_form.as_p }}
  {{ misc_form.as_p }}
  {{ skills_formset.as_p }}
  {{ saves_form.as_p }}
  {{ maneuvers_form.as_p }}
  {{ attacks_formset.as_p }}
  {{ armor_formset.as_p }}
  {{ spells_formset.as_p }}
  {{ money_form.as_p }}
  {{ gear_formset.as_p }}
  {{ feats_formset.as_p }}
  {{ links_formset.as_p }}

  <input type="submit" name="submit" value="Save"/>
</form>

{% endblock %}
