{% extends 'base.html' %}

{% block content %}

<h1>edit</h1>

<form method="POST" action="{% url 'edit' id=character.id %}">
  {% csrf_token %}
  <div class='row'>
    <div class='col-md-4 col-centered'>
      {{ character_form.as_p }}
    </div>
  </div>

  <div class='row'>
    <div class='col-md-4 pre-scrollable'>
      {{ stats_form.as_p }}
    </div>

    <div class='col-md-4 pre-scrollable'>
      {{ misc_form.as_p }}
    </div>

    <div class='col-md-4 pre-scrollable'>
      {{ skills_formset.as_p }}
    </div>
  </div>

  <div class='row'>
    <div class='col-md-4 pre-scrollable'>
      {{ saves_form.as_p }}
    </div>

    <div class='col-md-4 pre-scrollable'>
      {{ maneuvers_form.as_p }}
    </div>

    <div class='col-md-4 pre-scrollable'>
      {{ attacks_formset.as_p }}
    </div>
  </div>

  <div class='row'>
    <div class='col-md-4 pre-scrollable'>
      {{ armor_formset.as_p }}
    </div>

    <div class='col-md-4 pre-scrollable'>
      {{ spells_formset.as_p }}
    </div>

    <div class='col-md-4 pre-scrollable'>
      {{ money_form.as_p }}
    </div>
  </div>

  <div class='row'>
    <div class='col-md-4 pre-scrollable'>
      {{ gear_formset.as_p }}
    </div>

    <div class='col-md-4 pre-scrollable'>
      {{ feats_formset.as_p }}
    </div>

    <div class='col-md-4 pre-scrollable'>
      {{ links_formset.as_p }}
    </div>

  <input type="submit" name="submit" value="Save"/>
</form>

{% endblock %}
