{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class='row' style="background: url('{% static 'chainmail.jpg' %}')">
  <div class='col-xs-4'>
    <h1 class='card'>Character List</h1>
  </div>
  <div class='col-xs-4 col-xs-offset-4'>
    <a href="{% url 'create' %}" class = 'btn btn-success'>New Character</a>
  </div>

{% if character_list %}
{% for character in character_list %}
  <div class = 'col-xs-10 col-centered card'>
    <div class = 'col-xs-4'>
      <a href="{% url 'charsheet' id=character.id %}" class = 'btn btn-primary btn-lg'>
        {{ character.name }}
      </a>
    </div>
    <div class = 'col-xs-4'>
      <p>race: {{ character.race }}</p>
      <p>class: {{ character.char_class }}</p>
    </div>
    <div class = 'col-xs-4'>
      <a href="{% url 'edit' id=character.id %}" class = 'btn btn-info btn-sm'>Edit</a>
      <a href="{% url 'delete' id=character.id %}" class = 'btn btn-danger btn-sm'>Delete</a>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}
