{% extends 'base.html' %}

{% block content %}

<div class='row char_overview'>
  <div class='col-xs-4'>
    <h1>{{character.name}}</h1>
  </div>

  <div class='col-xs-4 col-xs-offset-4'>
    <h2>HP: {{ misc.hp }}</h2>
    <p>race: {{character.race}}</p>
    <p>class: {{character.char_class}}</p>
  </div>
</div>

{% load static %}
<div class='row char_sheet' style="background: url('{% static 'chainmail.jpg' %}')">
  <div class='col-md-4 col-xs-6'>
    <div class='card'>
      <table class = 'table table-condensed table-striped'>
        <tr>
          <th>Ability</th>
          <th>Score</th>
          <th>Modifier</th>
        </tr>
        <tr>
          <td>STR</td>
          <td>{{ stats.str }}</td>
          <td>{{ stats.str_mod }}</td>
        <tr>
          <td>Dex</td>
          <td>{{ stats.dex }}</td>
          <td>{{ stats.dex_mod }}</td>
        </tr>
        <tr>
          <td>CON</td>
          <td>{{ stats.con }}</td>
          <td>{{ stats.con_mod }}</td>
        </tr>
        <tr>
          <td>INT</td>
          <td>{{ stats.int }}</td>
          <td>{{ stats.int_mod }}</td>
        </tr>
        <tr>
          <td>WIS</td>
          <td>{{ stats.wis }}</td>
          <td>{{ stats.wis_mod }}</td>
        <tr>
          <td>CHA</td>
          <td>{{ stats.cha }}</td>
          <td>{{ stats.cha_mod }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class = "col-md-4 col-xs-6">
    <div class='card'>
      <table class='table table-condensed table-striped'>
        <tr>
          <th>Misc Stats<th>
        </tr>
        <tr>
          <td>AC</td>
          <td>{{ misc.ac }}</td>
        </tr>
        <tr>
          <td>Initiative</td>
          <td>{{ misc.init }}</td>
        </tr>
        <tr>
          <td>Speed</td>
          <td>{{ misc.speed }}</td>
        </tr>
        <tr>
          <td>Damage Resist.</td>
          <td>{{ misc.damage_resistance }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class = 'col-md-4 col-xs-6'>
    <div class='card'>
      <table class='table table-condensed table-striped'>
        <tr>
          <th>Skill Name</th>
          <th>Ranks</th>
        <tr>
        {% for skills in skills %}
        <tr>
          <td>{{ skills.skill_name }}</td>
          <td>{{ skills.ranks }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class='col-md-4 col-xs-6'>
    <div class='card'>
      <table class='table table-condensed table-striped'>
        <tr>
          <th>Saves</th>
        </tr>
        <tr>
          <td>Fortitude</td>
          <td>{{ saves.fort }}</td>
        </tr>
        <tr>
          <td>Reflex</td>
          <td>{{ saves.reflex }}</td>
        </tr>
        <tr>
          <td>Will</td>
          <td>{{ saves.will }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class='col-md-4 col-xs-6'>
    <div class='card'>
      <table class='table table-condensed table-striped'>
        <tr>
          <th>Maneuvers</th>
        </tr>
        <tr>
          <td>CMB</td>
          <td>{{ maneuvers.cmb }}</td>
        </tr>
        <tr>
          <td>CMD</td>
          <td>{{ maneuvers.cmd }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class='col-md-4 col-xs-6'>
    <div class='card'>
      <table class='table table-condensed table-striped'>
        <h3>Attacks</h3>
        {% for attacks in attacks %}
        <tr>
          <th>{{ attacks.attack_name }}</th>
        </tr>
        <tr>
          <td>Attack</td>
          <td>{{ attacks.atk_bonus }}<td>
        <tr>
          <td>Damage</td>
          <td>{{ attacks.damage }}</td>
        </tr>
        <tr>
          <td>Crit.</td>
          <td>{{ attacks.crit }}</td>
        </tr>
        <tr>
          <td>Range</td>
          <td>{{ attacks.range }}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>{{ attacks.type }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>



  <div class='col-md-4 col-xs-6'>
    <div class='card'>
      <h3>Armor</h3>
      <table class='table table-condensed table-striped'>
      {% for armor in armor %}
        <tr>
          <th>{{ armor.armor_name }}</th>
        <tr>
        <tr>
          <td>AC bonus</td>
          <td>{{ armor.ac_bonus }}</td>
        </tr>
        <tr>
          <td>Max Dex. Bonus</td>
          <td>{{ armor.max_dex }}</td>
        <tr>
          <td>Armor Penalty</td>
          <td>{{ armor.armor_penalty }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>

  <div class='col-md-4 col-xs-6'>
    <div class='card'>
      <h3>Spells</h3>
      {% for spells in spells %}
        <p>{{ spells.spell_name }} - level: {{ spells.spell_lvl }}</p>
        <p>{{ spells.spell_desc }}</p>
      {% endfor %}
    </div>
  </div>

  <div class='col-md-4 col-xs-6'>
    <div class='card'>
      <table class='table table-condensed table-striped'>
        <tr>
          <th>Money</th>
        </tr>
        <tr>
          <td>Gold</td>
          <td>{{ money.gold }}</td>
        </tr>
        <tr>
          <td>Silver</td>
          <td>{{ money.silver }}</td>
        </tr>
        <tr>
          <td>Copper</td>
          <td>{{ money.copper }}</td>
      </table>
    </div>
  </div>

  <div class='col-md-4 col-xs-6'>
    <div class='card'>
      <h3>Gear</h3>
      <table class='table table-condensed table-striped'>
        <tr>
          <th>Item</th>
          <th>Weight</th>
        </tr>
        {% for gear in gear %}
        <tr>
          <td>{{ gear.item_name }}</td>
          <td>{{ gear.item_weight }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class='col-md-4 col-xs-6'>
    <div class='card'>
      <h3>Feats</h3>
      <table class='table table-condensed table-striped'>
      {% for feats in feats %}
        <tr>
          <th>{{ feats.feat_name }}</th>
        </tr>
        <tr>
          <td>{{ feats.feat_desc }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>

  <div class='col-md-4 col-xs-6'>
    <div class='card'>
      <h3>Links</h3>
      {% for links in links %}
        <a href="{{ links.link_url }}" class='btn btn-info'>{{ links.link_name }}</a>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
