
#character_list_row {
  border: 3px solid black;
  border-left: 6px solid blue;
  background-color: lightgrey;
}

.char_overview {
  background-color: #222222;
  border-radius: 1rem;
  margin-bottom: 2%;
  font-family: 'Oswald', serif;
}

.save_button_row {
  background-color: #222222;
  border-radius: 1rem;
  color: #9d9d7e;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 1%;
  font-family: 'Dosis', sans-serif;
}

.char_sheet {
  background-color: lightblue;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 1rem;
  font-family: 'Dosis', sans-serif;
}

.card {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.85);
  height: 80%;
  padding: 1rem;
  margin: 3%;
  min-height: 300px;
  max-height: 300px;
  overflow-x: auto;
  font-family: 'Dosis', sans-serif;
}

.character_card {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.85);
  height: 80%;
  padding: 1rem;
  overflow-x: auto;
  margin-top: 10px;
  font-family: 'Dosis', sans-serif;
}

.char_header_card {
  border-radius: 1rem;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
}

::-webkit-scrollbar {
  display: none;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.padding_top {
  padding-top: 3%;
}
